<widget id="io.github.jamestheskittle.recipeorganizer" version="1.0.0">
        <name>HelloWorld</name>
        <description>
            An app that organizes your recipes!
        </description>
        <author email="jamestheskittle@gmail.com" href="https://jamestheskittle.github.io/">
            James Kittle
        </author>
        <content src="index.html" />
        <access origin="*" />
    </widget>
